table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 8rem;
}

th,
td {
    padding: 1rem;
    border: 1px solid #c4c4c4;
    text-align: center;
    font-size: 1rem;
}

th {
    background-color: rgb(9, 44, 68);
    color: white;
}
